CodeGrapherStressTest/wsdl/legacy_service.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://stresstest.example.com/legacy"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:types="http://stresstest.example.com/legacy/types"
    targetNamespace="http://stresstest.example.com/legacy"
    name="LegacyEventService">

    <!-- Import type definitions from legacy_types.xml -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://stresstest.example.com/legacy">
            <xsd:import namespace="http://stresstest.example.com/legacy/types"
                        schemaLocation="legacy_types.xml"/>
        </xsd:schema>
    </wsdl:types>

    <!-- Messages -->
    <!-- SendLegacyEvent request: Producer → Broker (legacy WSDL path) -->
    <wsdl:message name="SendLegacyEventRequest">
        <wsdl:part name="event" type="types:LegacyEvent"/>
    </wsdl:message>

    <!-- SendLegacyEvent response: Broker ACK -->
    <wsdl:message name="SendLegacyEventResponse">
        <wsdl:part name="ack" type="types:AckMessage"/>
    </wsdl:message>

    <!-- ForwardLegacyEvent request: Broker → Consumer -->
    <wsdl:message name="ForwardLegacyEventRequest">
        <wsdl:part name="session" type="types:LegacySession"/>
        <wsdl:part name="event"   type="types:LegacyEvent"/>
    </wsdl:message>

    <!-- ForwardLegacyEvent response: Consumer ACK (maps to WRITE_COMPLETE) -->
    <wsdl:message name="ForwardLegacyEventResponse">
        <wsdl:part name="ack" type="types:AckMessage"/>
    </wsdl:message>

    <!-- ErrorNotification: any service → peers -->
    <wsdl:message name="ErrorNotificationMessage">
        <wsdl:part name="error" type="types:ErrorInfo"/>
    </wsdl:message>

    <!-- Port types (interfaces) -->
    <wsdl:portType name="ProducerPortType">
        <wsdl:operation name="SendLegacyEvent">
            <wsdl:input  message="tns:SendLegacyEventRequest"/>
            <wsdl:output message="tns:SendLegacyEventResponse"/>
            <wsdl:fault  name="error" message="tns:ErrorNotificationMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="BrokerPortType">
        <wsdl:operation name="ForwardLegacyEvent">
            <wsdl:input  message="tns:ForwardLegacyEventRequest"/>
            <wsdl:output message="tns:ForwardLegacyEventResponse"/>
            <wsdl:fault  name="error" message="tns:ErrorNotificationMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Bindings (SOAP over HTTP) -->
    <wsdl:binding name="ProducerBinding" type="tns:ProducerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendLegacyEvent">
            <soap:operation soapAction="http://stresstest.example.com/legacy/SendLegacyEvent"/>
            <wsdl:input>  <soap:body use="literal"/> </wsdl:input>
            <wsdl:output> <soap:body use="literal"/> </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="BrokerBinding" type="tns:BrokerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ForwardLegacyEvent">
            <soap:operation soapAction="http://stresstest.example.com/legacy/ForwardLegacyEvent"/>
            <wsdl:input>  <soap:body use="literal"/> </wsdl:input>
            <wsdl:output> <soap:body use="literal"/> </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Services -->
    <wsdl:service name="LegacyEventService">
        <wsdl:port name="ProducerPort" binding="tns:ProducerBinding">
            <soap:address location="http://localhost:8080/legacy/producer"/>
        </wsdl:port>
        <wsdl:port name="BrokerPort" binding="tns:BrokerBinding">
            <soap:address location="http://localhost:8080/legacy/broker"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
