CodeGrapherStressTest/wsdl/legacy_types.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://stresstest.example.com/legacy/types"
    xmlns:tns="http://stresstest.example.com/legacy/types"
    elementFormDefault="qualified">

    <!--
        LegacyEvent — WSDL/XSD form of the transitioning type.
        maps_to: LegacyEvent_Proto (proto/legacy.proto)
        maps_to: LegacyEvent_CC   (producer/legacy_encoder.h)

        FIELD CORRESPONDENCE (ground truth for maps_to verification):
          event_type  (string here) ↔ event_type (LegacyEventType enum in proto)
          payload     (RawBytes here) ↔ payload (MessageBody in proto)
          version     (int here) ↔ version (int32 in proto)
    -->

    <!-- EventTypeEnum: mirrors LegacyEventType in proto/legacy.proto -->
    <xsd:simpleType name="EventTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LEGACY_UNKNOWN"/>
            <xsd:enumeration value="LEGACY_DATA"/>
            <xsd:enumeration value="LEGACY_CONTROL"/>
            <xsd:enumeration value="LEGACY_HEARTBEAT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- RawBytes: base data container (maps_to C++ RawBytes struct in producer/types.h) -->
    <xsd:complexType name="RawBytes">
        <xsd:sequence>
            <xsd:element name="data"   type="xsd:base64Binary"/>
            <xsd:element name="len"    type="xsd:unsignedLong"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- LegacyEvent: main transitioning type (WSDL form) -->
    <xsd:complexType name="LegacyEvent">
        <xsd:sequence>
            <xsd:element name="event_type" type="tns:EventTypeEnum"/>
            <xsd:element name="payload"    type="tns:RawBytes"/>   <!-- contains: RawBytes -->
            <xsd:element name="version"    type="xsd:int"/>
            <xsd:element name="source_id"  type="xsd:string"/>
            <xsd:element name="timestamp"  type="xsd:unsignedLong"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- LegacySession: groups LegacyEvents (WSDL form, maps_to LegacySession in proto) -->
    <xsd:complexType name="LegacySession">
        <xsd:sequence>
            <xsd:element name="session_id"  type="xsd:string"/>
            <xsd:element name="events"      type="tns:LegacyEvent"
                         minOccurs="0" maxOccurs="unbounded"/>  <!-- contains: LegacyEvent (repeated) -->
            <xsd:element name="created_at"  type="xsd:unsignedLong"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- AckMessage: response from Broker or Consumer (maps_to AckEvent in proto/events.proto) -->
    <xsd:complexType name="AckMessage">
        <xsd:sequence>
            <xsd:element name="session_id" type="xsd:string"/>
            <xsd:element name="seq_num"    type="xsd:unsignedLong"/>
            <xsd:element name="success"    type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ErrorInfo: error notification (maps_to ErrorEvent in proto/events.proto) -->
    <xsd:complexType name="ErrorInfo">
        <xsd:sequence>
            <xsd:element name="source_service" type="xsd:string"/>
            <xsd:element name="error_code"     type="xsd:string"/>
            <xsd:element name="description"    type="xsd:string"/>
            <xsd:element name="timestamp"      type="xsd:unsignedLong"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Element declarations for use in WSDL messages -->
    <xsd:element name="LegacyEvent"   type="tns:LegacyEvent"/>
    <xsd:element name="LegacySession" type="tns:LegacySession"/>
    <xsd:element name="AckMessage"    type="tns:AckMessage"/>
    <xsd:element name="ErrorInfo"     type="tns:ErrorInfo"/>

</xsd:schema>
